<!DOCTYPE html>

<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/style.css" />

    <title>Blog Page</title>
  </head>

  <body>
    <a href="/list" class="main-title">
      Blog Page
    </a>

    <div class="login-area">
      {% if user %}
        {{user.name}} (<a class="login-link" href="/logout">logout</a>)
      {% else %}
        <a class="login-link" href="/login">login</a>
        |
        <a class="login-link" href="/signup">signup</a>
      {% endif %}
    </div>
    
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>

    <div >
      <a href="/newpost">
        Create a New Post
      </a>
    </div>
  </body>
</html>
